# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Leecode.App.iml
# Datasource local storage ignored files
/../../../../../../../:\project\leecode\Leecode.App\.idea\.idea.Leecode.App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
